* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background: #f0f0f0; */
  background: #000;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  color: white;
}
